/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q demo
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}


/* General
***********************/
body {
	background: #DADADA; 
}

.image { 
   position: relative; 
   width: 100%; 
}

h2 { 
   position: absolute; 
   bottom: 2%; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 1.5em Helvetica, Sans-Serif; 
   letter-spacing: 2%;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 1%; 
}


/* Carousel 
***********************/
#carousel {margin-top: -10px;}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}



/* Main Images 
***********************/
#container {max-width:960px; margin: 0 auto;}
#main {max-width:960px; margin: 10px 0 auto; overflow: hidden;}
#slider {margin: 0 0 10px!important;}



/* Media Queries
***********************/
@media screen and (max-width: 960px) {
  #container {max-width: 960px; margin: 0 auto;}
  header {width: 380px;}
  #main {margin-left: 0;}
}
@media screen and (max-width: 768px) {
  #container {max-width: 960px; margin: 0 auto;}
  header {width: 100%; float: none; text-align: center;}
  header h1 {margin: 0 auto 10px;}
  header .button,
  header nav {display: none;}
  #main {margin-left: 0;}
}
@media screen and (max-width: 500px) {
  header h1 {width: 246px;  }
}