* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: sans-serif;
}

header nav {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	display: block;
	height: 5vh;

	ul {
		list-style-type: none;
		font-size: 0;

		li {
			font-size: 16px;
			display: inline-block;
			padding: 1em;
			width:45%;
			text-align: center;
		}
	}
}

main {
	padding-top:15vh;
	z-index: 0;

	.tabs {
		z-index: 1;

		&.active {
			z-index: 2;
		}
	}
}

h1 {
	&.turnMeRed {
		color:red;
	}
}