* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif; }

html,
body {
  height: 100%; }

body {
  z-index: 0; }
  body #header {
    z-index: 20; }
  body main {
    z-index: 1; }

header#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 10vh;
  background-color: #000;
  opacity: .8; }

nav ul {
  list-style-type: none;
  font-size: 0; }
  nav ul li {
    font-size: 16px;
    display: inline-block;
    width: 45%; }
    nav ul li a {
      padding: 2em 1em;
      text-align: center;
      display: block;
      color: #e2e2e2; }

main {
  padding: 1em;
  margin-top: 10vh;
  position: relative;
  display: block;
  width: 100%;
  height: 90vh; }
  main .tabs {
    z-index: 1;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    background-color: #fff; }
    main .tabs.active {
      z-index: 2; }

h1.turnMeRed {
  color: red; }

#map-canvas {
  height: 100%; }
