* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: sans-serif;
}

html,
body {
	height:100%;
}

header nav {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	display: block;
	height: 5vh;

	ul {
		list-style-type: none;
		font-size: 0;

		li {
			font-size: 16px;
			display: inline-block;
			padding: 1em;
			width:45%;
			text-align: center;
		}
	}
}

	.tabs {
		height: 100%;
		weight:100%;
	}

main {
	padding:1em;
	padding-top:80px;
	position: relative;
	z-index: 0;
	display: block;
	width:100%;
	height:100%;

	.tabs {
		z-index: 1;
		height: 100%;
		weight:100%;

		&.active {
			z-index: 2;
		}
	}
}

h1 {
	&.turnMeRed {
		color:red;
	}
}